/* === Small CSS Reset === */
*{
  margin: 0;
  padding: 0;
}
*, *::after, *::before{
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #f3d5b3;
  display: grid;
  place-content: center;
  height: 100vh;
}

h1{
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 14px;
  margin-bottom: 1rem;
}

h3 {
  font-size: 13px;
  margin: 1rem 0;
  text-align: center;
}

#image {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qrcontainer {
  margin-top: 30px;
  max-width: 400px;
  padding: 20px;
  background: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: #333 0 0 10px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  background: #333;
  color: #fff;
  cursor: pointer;
  width: 80%;
  align-self: center;
  margin-bottom: 30px;
}

#downloadsection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.downloadbtn {
  padding: 10px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  background: rgb(230, 121, 19);
  color: #fff;
  cursor: pointer;
  align-self: center;
  width: 60%;
  font-size: 12px;
  text-align: center;
  display: none;
}

#QRoutput {
  margin: 0 auto;
}